html {
    font-size: 100%;
}
body {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Shippori Mincho', serif;
    color: #2e3740;
}
h2 {
    text-align: center;
    font-size: 3rem;
    padding: 50px 0;
}
a {
    text-decoration: none;
    color: #2e3740;
}
a:hover {
    color: #8e98a1;
    text-decoration: underline;
}
ul {
    list-style: none;
}
/* img {
    max-width: 100%;
} */
.opacity:hover img {
    opacity: 0.7;
}
.side {
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 2rem;
    text-align: center;
    padding: 30px 0;
}
.errors {
    color: #e9555c;
    background-color: #f8e1e5;
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

/* header
------------------------------- */
header {
    margin: 30px 0;
}
.logo img {
    margin: 0 20px;
}

/* ログイン・お気に入り */
.mypage-favo {
    text-align: center;
    display: flex;
}
.mypage, .favo {
    padding: 20px;
}
.mypage-svg img, .favo-svg img {
    width: 40px;
}

/* メニュー */
.g-nav {
    margin: 3% 10% 0;
    font-size: 1.5rem;
}
.drawer-hidden {
    display: none;
}
.resp-add {
    display: none;
}
.choosing {
    color: #c0c9d1;
}

/* top-img
------------------------------- */
#top-img {
    overflow: hidden;
}
.autoplay-slider {
    display: flex;
    min-width: 100%;
    width: min-content;
    animation: 30s linear infinite sliderAnimation;
}
.slide {
    margin: 10px;
    position: relative;
}
.slide img {
    width: 50vw;
}
@keyframes sliderAnimation {
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

/* restaurant hotel */
.top-line::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2e3740;
    position: absolute;
}
.top-line div {
    text-align: center;
}
.top-line img {
    width: 100%;
}

/* home-contents
------------------------------- */
section {
    margin: 150px 0;
}

/* 新着記事*/
.new-article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.new-article li {
    margin: 20px;
}
.new-article img {
    width: 100%;
}
.more {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 50px;
}

/* なにしたい？ */
#purpose {
    background-color: #f4f7e2;
    padding: 30px 0 100px;
}
.purpose-list {
    display: flex;
    justify-content: center;
}
.purpose-list li {
    margin: 20px;
    /* height: 250px; */
    border-radius: 50%;
    background-color: #fff;
}
.eat:hover {
    background-color: #e98cc5;
}
.play:hover {
    background-color: #8cdbe9;
}
.buy:hover {
    background-color: #eba25f;
}
.healing:hover {
    background-color: #6fc55a;
}
.purpose-list img {
    width: 100%;
}

/* ジャンル */
.type-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 70px;
    padding: 30px;
}
.type-list li:hover {
    opacity: 0.6;
}

.type-list li, .area-list li {
    text-align: center;
    background-color: #a4e3dc;
    border-radius: 30px;
    font-size: 1.2rem;
}
.type-list li a, .area-list li a {
    display: block;
    padding: 20px;
}

/* エリア一覧 */
.area-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 70px 70px 70px;
    padding: 30px;
}
.area-list li:hover {
    opacity: 0.6;
}

/* ログインページ 
------------------------------- */
.user-contents {
    width: 80%;
    margin: 0 auto;
}
.user-contents h2 {
    font-size: 2.5rem;
    padding-top: 0;
}
.form-area {
    width: 80%;
    margin: 50px auto 100px;
}
label {
    display: block;
    margin: 10px 0px
}
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"], 
input[type="date"] {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 20px;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder, 
input[type="date"] {
    color: #999999;
}
input:focus {
    outline: none;
}
.btn{
    display: block;
    margin: 50px auto;
    width: 50%;
    background-color: #a4e3dc;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.2rem;
}
.btn:hover {
    opacity: 0.6;
}
.sub-link {
    display: block;
    text-align: center;
}

/* マイページ
------------------------------- */
.user-details {
    margin: 20px auto;
    text-align: center;
    background-color: #f4f7e2;
    border-radius: 40px;
    padding: 20px 0;
}
.user-details div {
    padding: 20px 0;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 20px;
}

.user-details h4 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.reserve-link img{
    width: 30%;
}
.favo-link ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.favo-link li {
    margin: 0 15px;
}
.favo-link img {
    width: 100%;
}
.mypage-btn {
    text-align: center;
    margin: 50px 0 70px;
}
.mypage-btn a {
    margin: 30px auto;
}
.home-back-btn {
    background-color: #dee7b2;
}
.mypage-btn a:hover {
    text-decoration: none;
    color: #2e3740;
}

/* 一覧ページリスト
------------------------------- */
#list-contents {
    width: 900px;
    margin: 0 auto;
}
#list-contents h3 {
    text-align: left;
}
.info {
    width: 90%;
    margin: 50px auto;
}
.name {
    background-color: #f4f7e2;
    margin: 15px 0;
    padding: 10px;
}
.name h4 {
    font-size: 1.4rem;
}
.detail {
    display: flex;
    /* justify-content: space-between; */
}
.list-img img {
    width: 300px;
}
.list-text {
    margin-left: 50px;
}
.list-text div {
    margin-bottom: 10px;
}
.list-text p {
    line-height: 1.7;
}

/* ページ送り */
.page-link {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    font-size: 1.2rem;
}
.page-link p {
    margin: 0 50px;
}
.nav-links a{
    margin: 0 15px;
}
/* .arrow {
    color: #a4e3dc;
    font-weight: bold;
} */
.arrow:hover {
    text-decoration: none;
}
.number {
    padding: 10px;
}

/* 戻るボタン */
.back {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.2rem;
}


/* footer
------------------------------- */
footer {
    padding-top: 70px;
    background-color: #f4f7e2;
}
#footer-list {
    margin: 0 10%;
}
#copy {
    padding: 30px;
    text-align: center;
}
.f-logo img {
    width: 100px;
}

/* responsive
------------------------------- */
@media(max-width: 900px) {
    /* common */
    h2 {
        font-size: 2rem;
        padding: 20px 0;
    }
    .user-contents h2 {
    font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    /* header */
    h1 img {
        width: 80%;
    }
    .mypage, .favo {
        padding: 10px;
        font-size: 0.9rem;
    }
    .mypage-svg img, .favo-svg img {
        width: 30px;
    }
    /* menu */
    .g-nav {
        margin: 3% 10% 0;
        font-size: 1.25rem;
    }
    /* home-contents */
    section {
        margin: 100px 0;
    }
    /* list */
    #list-contents {
        width: 90%;
    }
    .info {
    margin: 30px auto;
    }
    .name h4 {
    font-size: 1.2rem;
    }
    .list-img img {
    width: 200px;
    }
    .list-text {
        margin-left: 20px;
        font-size: 0.9rem;
    }
    .list-text div {
        margin-bottom: 3px;
    }
    .list-text p {
        line-height: 1.5;
    }
    .page-link {
    padding: 40px 0;
    font-size: 1rem;
    }
    .page-link p {
        margin: 0 40px;
    }
    .number {
        padding: 5px;
    }
    /* 戻るボタン */
    .back {
        font-size: 1rem;
    }
    /* new-article */
    .new-article li {
        font-size: 0.9rem;
        margin: 10px;
    }
    /* footer */
    #footer-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;
    }
}
@media(max-width: 700px) {
    /* header */
    /* logo */
    .logo img {
        width: 70%;
    }
    /* ログイン・お気に入り */
    .mypage-favo, .resp-none {
        display: none;
    }
    .resp-add {
        display: block;
    }

    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1000;/* 重なり順を一番上に */
        cursor: pointer;
        top: 10%;
        right: 20%;
    }
    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span::before,
    .drawer-open span::after {
        content: '';
        display: block;
        height: 4px;
        width: 30px;
        border-radius: 4px;
        background: #2e3740;
        transition: 0.5s;
        position: absolute;
    }
    
    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
        bottom: 13px;
    }
    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
        top: 13px;
    }
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
        background: rgba(255, 255, 255, 0);
    }
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
        bottom: 0;
        transform: rotate(45deg);
        background: #2e3740;
    }
    #drawer-check:checked ~ .drawer-open span::after {
        top: 0;
        transform: rotate(-45deg);
        background: #2e3740;
    }
    /* メニュー中身 */
    nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #fff;
        transition: .5s;
        text-align: center;
    }
    .g-nav {
        display: block;
        margin-top: 100px;
        font-size: 1.5rem;
    }
    .g-nav li {
        margin-bottom: 30px;
    }
    .g-nav li a::after {
        bottom: -4px;
    }
    .g-nav li a:hover::after {
        bottom: -2px;
    }
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked ~ nav {
        left: 0;/* メニューを画面に入れる */
    }

    /* top-img */
    .slide img {
        width: 80vw;
    }

    /* new */
    .new-article {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .new-article li {
        margin: 20px;
    }
    .new-article img {
        width: 60%;
    }

    /* purpose */
    .purpose-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .purpose-list li {
        margin: 20px;
        border-radius: 50%;
        background-color: #fff;
    }

    /* area */
    .area-list, .type-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 30px;
    }

    /* footer */
    footer {
        padding-top: 40px;
    }
    #footer-list {
        font-size: 0.8rem;
    }
    .f-logo img{
        width: 70px;
    }
    #copy p {
        font-size: 0.6rem;
    }
}