html {
    font-size: 100%;
}
body {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Shippori Mincho', serif;
    color: #2e3740;
}
h2 {
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    font-size: 3rem;
    padding: 50px 0;
}
a {
    text-decoration: none;
    color: #2e3740;
}
a:hover {
    color: #8e98a1;
    text-decoration: underline;
}
ul {
    list-style: none;
}
/* img {
    max-width: 100%;
} */
.opacity:hover img {
    opacity: 0.7;
}

/* header
------------------------------- */
header{
    margin: 30px 0;
}
h1 img{
    margin: 0 20px;
}
/* h1 img:hover {
    opacity: 0.6;
} */
.side {
    display: flex;
    justify-content: space-between;
}
.login-favo{
    text-align: center;
    display: flex;
}
.login, .favo {
    padding: 20px;
}
.login-svg img, .favo-svg img{
    width: 50px;
}
.g-nav {
    margin: 3% 10% 0;
    font-size: 1.5rem;
}
.partition {
    position: relative;
}
.partition::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: #2e3740;
    position:absolute;
    top:3px;
    left:-55px;
}

/* top-img
------------------------------- */
.autoplay-slider {
    display: flex;
    min-width: 100%;
    width: min-content;
    animation: 30s linear infinite sliderAnimation;
}
.slide {
    margin: 10px;
    position: relative;
}
.slide img{
    width: 50VW;
}
@keyframes sliderAnimation {
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

/* home-contents
------------------------------- */
section {
    margin: 150px 0;
}

/* 新着記事*/
.new-article{
    display: flex;
    justify-content: center;
}
.new-article li {
    margin: 20px;
}
.new-article img{
    width: 350px;
}
/* .new-article li a:hover img{
    opacity: 0.7;
} */
.more {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 50px;
}

/* なにしたい？ */
#purpose {
    background-color: #f4f7e2;
    padding: 30px 0 100px;
}
.purpose-list {
    display: flex;
    justify-content: center;
}
.purpose-list li {
    margin: 20px;
    /* height: 250px; */
    border-radius: 50%;
    background-color: #fff;
}
.eat:hover {
    background-color: #e98cc5;
}
.play:hover {
    background-color: #8cdbe9;
}
.buy:hover {
    background-color: #eba25f;
}
.healing:hover {
    background-color: #6fc55a;
}
.purpose-list img {
    width: 250px;
}
/* .purpose-list li:hover img{
    opacity: 0.8;
} */

/* エリア一覧 */
.area-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 70px 70px 70px;
    padding: 30px;
}
.area-list li {
    text-align: center;
    padding: 20px;
    background-color: #a4e3dc;
    border-radius: 30px;
    font-size: 1.2rem;
}
.area-list li:hover {
    opacity: 0.6;
}

/* footer
------------------------------- */
footer {
    padding-top: 70px;
    background-color: #f8faed;
    position: relative;
}
/* footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2e3740;
    position: absolute;
    top: 0;
} */
#footer-list {
    margin: 0 10%;
}
#copy {
    padding: 30px;
    text-align: center;
}
#copy img {
    width: 100px;
}